<div class="footer">
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
            <span class="logo-img text-left"></span>
        </div>
        <div class="p-2 flex-fill bd-highlight text-right">
            <small>
                <span>{{currentYear}} - copyright © Dedagroup spa </span><br>
                <span>Sede legale e amministrativa: Trento, 38121 - Via di Spini, 50</span><br>
                <span>tel: +39 0461 997111 Fax: +39 0461 997110 E-mail: info@dedagroup.it</span><br>
                <span>N. R.I., C.F. e P.I.: 01763870225 - Soc. contr. art. 2497</span><br>
                <span>C.C. da Sequenza spa (BZ) - N. R.A.E.E. IT08020000003121</span>
            </small>
        </div>
    </div>
</div>

